<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
    <h1 class="title">Todos</h1>
    <a href="{{ url_for('home') }}" class="btn add-btn">Home Page</a>
    <div class="todos">
        {% for stuff in todos %}
      <div class="card">
          <p class="todo">{{ stuff.todo }}</p>
      </div>
      {% else %}
      <h1>
          There are NO Completd Todos, Please complete a todo.
      </h1>
      {% endfor %}
    </div>
  </div>
</body>
</html>

